body {
    background: #f2d0d1;
  }
  
  .rosa{
    color: #A90623;
    font-family: Atma, cursive;
  }
  
  .produtos-p{
    color: #A90623;
    font-family: Atma, cursive;
  }
  
  .produtos-lista{
    color: #A90623;
    font-family: Atma, cursive;
  }
  