body {
    background: #f2d0d1;
  }
  
  .button-red{
    color: whitesmoke;
    background-color: #A90623;
    font-family: Atma, cursive;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
  }
  
  .input-tamanho{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-nome{
    color: #A90623;
    font-family: Atma, cursive;
  }

  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 7
    
    0vh;
    text-align: center;
  }
  
  .tamanhos{
    overflow-y: auto;
    max-height: 90px;
    margin-top: 30px;
  }

  .nome{
    color: #A90623;
    font-family: Atma, cursive;
  }

  .produto-card{
    background-color: #FFFF;
    
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
  }

    .imagem{
    height: 350px;
    width: 290px;
    
  }

  .imagem-home{
    height: 500px;
    width: 1500px;
    margin-left: 190px;
  }
  
  .home-card{
      background-color: #FFFF;
    
    display: inline-block;
    width: 400px;
    height: 500px;
    padding: 5px;
    margin: 20px;
    overflow: hidden;
  }
  
    .image{
      height: 400px;
      width: 400px;
    }